<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WS CRM</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-image: url(coaching4.jpg); height: 100%; width: 100%; border: 0px solid black;">

    <div class="container">
            
        <div class="row">
                
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                        
                    <div class="panel-heading">
                        <h3 class="panel-title">Esqueci Minha Senha</h3>
                    </div>
                    
                    <div class="panel-body" >                            
                        <form role="form" action="/esqueci" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <select class="form-control" name="empresa" id="empresa" required="true">
                                        <option value="">Selecione</option>
                                        <% if( empresas.length > 0 ) { %>
                                            <% for( var i = 0; i < empresas.length; i++ ) {%>
                                                <option value="<%= empresas[i].id %>"><%= empresas[i].fantasia %></option>
                                            <% } %>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Usuário" required="true" name="nome" type="text" autofocus>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button class="btn btn-lg btn-success btn-block" >Enviar</button>
                            </fieldset>
                        </form>
                                            
                    </div>
                    <% if(validacao.length > 0){ %>
                        <div class="panel-body">
                        <% for(var i = 0; i < validacao.length; i++) {%>
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <a href="#" class="alert-link">Ops!</a>.<%= validacao[i].msg %>
                            </div>
                        <% } %>
                        </div>
                    <% } %>
                    <div class="panel-footer">
                        <span class="pull-right"><a href="/login"><i class="fa fa-arrow-circle-right"></i> Login</span></a>                                                    
                        <div class="clearfix"></div>                    
                    </div>   
                </div>
               
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
